td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

td.legendTr {
  border: 0px;
  text-align: center;
}

td.legendTd {
  border: 0px;
  text-align: center;
}

td.warning {
  background-color: red;
}

td.ok {
  background-color: blue;
}

.tooltip {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.tooltip span {
  display: none;
}

.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

#ship {
  background-color: green;
  border-radius: 50px;
  width: 250px;
  height: 50px;
}